:root {
    --bgColor: rgb(252, 52, 52);;
    --header_text_color: ;
    --duration: 5s;
}

html, body {
    height: 100vh;
}

body {
    background-color: var(--bgColor);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0 30px 30px 30px;
    margin: 0;
}

.header {
    text-align: center;
    margin-bottom: 50px;
    overflow: hidden;
    min-width: max-content;
    color: #f7b530;
}

.shine, .chrome {
	font-size: 3em;
	margin: 0 auto;
	margin-bottom: 1em;
	font-weight: bold;
}

.shine {
	background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
	-webkit-background-size: 150px;
	color: $text-color;
	-webkit-background-clip: text;
	-webkit-animation-name: shine;
	-webkit-animation-duration: $duration;
	-webkit-animation-iteration-count: infinite;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

.chrome {
	background: #222 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
	background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
	-webkit-background-size: 200px;
	color: $text-color;
	-webkit-background-clip: text;
	-webkit-animation-name: shine;
	-webkit-animation-duration: $duration;
	-webkit-animation-iteration-count: infinite;
	text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
}

@-webkit-keyframes shine {
	0%, 10% {
		background-position: -1000px;
	}
	20% {
		background-position: top left;
	}
	90% {
		background-position: top right;
	}
	100% {
		background-position: 1000px;
	}
}

.main {
    display: flex;
    height: auto;
    flex-flow: column wrap;
    align-items: center;
   
}

.grid_ui {
    display: flex;
    flex-flow: row nowrap;
    background-color: white;
}


@keyframes spin {
    0% {
        background: conic-gradient(from 0deg, red, orange, yellow, green, blue, indigo, violet, red);
        background-color: conic-gradient(from 0deg, red, orange, yellow, green, blue, indigo, violet, red);
    }
    100% {
        background: conic-gradient(from 360deg, red, orange, yellow, green, blue, indigo, violet, red);
        background-color: conic-gradient(from 0deg, red, orange, yellow, green, blue, indigo, violet, red);
    }

    
}

.grid_buttons_sliders {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto;
    color: gray;
}

.color_input {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 10px;
}

#color_input_txt {
    font-size: 30px;
}

input#clr_input {
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
    background-color: var(--bgColor);
    border: none;
    align-self: baseline;
}

p {
    text-align: center;
    margin: 0;
}

button, input {
    overflow: scroll;
}

.slider {
    -webkit-appearance: none;
    width: 75%;
    min-width: 50%;
    height: 15px;
    border-radius: 10px;  
    background: white;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: pink;
    cursor: pointer;
}


.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: pink;
    cursor: pointer;
}

#clear_grid {
    width: 50%;
    min-width: min-content;
    border-radius: 4px;
    border: 2px solid black;
}

#rand_clr {
    width: 50%;
    min-width: min-content;
    border-radius: 4px;
    border: 2px solid black;
}

#grid_container {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    height: 750px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    min-width: 750px;;
}


.square {
    box-sizing: border-box;
    border: 1px solid black;
    flex-shrink: 0;
    height:initial;
    width: initial;
}

.circle-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.circle {
    border: none;
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;
    margin: 0;
}

.inner-circle {
    border: none;
    background-color: rgb(198, 198, 198);
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 10%;
    padding: 0;
}