:root {
    --bgColor: #49493c;;
}

html, body {
    height: 100vh;
}

body {
    background-color: var(--bgColor);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0 30px 30px 30px;
}

.header {
    text-align: center;
}

.main {
    display: flex;
    height: 100%;
    flex-flow: column wrap;
    align-items: center;
   
}

.grid_ui {
    display: flex;
}

input#clr_input {
    width: 30px;
    background-color: var(--bgColor);
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 5px;  
    background: white;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: pink;
    cursor: pointer;
}


.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: pink;
    cursor: pointer;
}

#grid_container {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    height: 750px;
    width: 750px;
}

.square {
    box-sizing: border-box;
    border: 1px solid black;
    flex-shrink: 0;
}
