:root {
    --bgColor: #49493c;;
}

html, body {
    height: 100vh;
}

body {
    background-color: var(--bgColor);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0 30px 30px 30px;
}

.header {
    text-align: center;
    margin-bottom: 50px;
    overflow: hidden;
    min-width: max-content;
}

.main {
    display: flex;
    height: 100%;
    flex-flow: column wrap;
    align-items: center;
   
}

.grid_ui {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}


@keyframes spin {
    0% {
        background: conic-gradient(from 0deg, red, orange, yellow, green, blue, indigo, violet, red);
        background-color: conic-gradient(from 0deg, red, orange, yellow, green, blue, indigo, violet, red);
    }
    100% {
        background: conic-gradient(from 360deg, red, orange, yellow, green, blue, indigo, violet, red);
        background-color: conic-gradient(from 0deg, red, orange, yellow, green, blue, indigo, violet, red);
    }

    
}

input#clr_input {
    width: 30px;
    background-color: var(--bgColor);
    border: none;
}

.slider {
    -webkit-appearance: none;
    width: 50%;
    min-width: 25%;
    height: 15px;
    border-radius: 5px;  
    background: white;
    outline: none;
    opacity: 0.8;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: pink;
    cursor: pointer;
}


.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: pink;
    cursor: pointer;
}

#grid_container {
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    height: 750px;
    width: 750px;
    min-width: 750px;
}


.square {
    box-sizing: border-box;
    border: 1px solid black;
    flex-shrink: 0;
    height:initial;
    width: initial;
}
